{% macro display_post(post) %}

<div class="post panel panel-default">
  <div class="panel-heading">
    {% if post['avatar'] == 1 %}
      <img src="/static/img/{{ post['uid'] }}.jpg">
    {% else %}
      <img src="/static/img/default.gif">
    {% endif %}
    <a href="../user/{{ post['uid'] }}"><h1>{{ post['name'] }}</h1></a>
    <p class="clearfix">{{ post['created'].strftime("%d.%m.%Y | %H:%M") }}</p>
    {% if post['reviewed'] == 1 %}
      <a class="btn btn-success" href="{{ url_for('admin.release_post', pid = post['pid']) }}">Release</a>
    {% endif %}
    {% if g.user['admin'] == 1 or g.user['id'] == post['uid'] %}
      <a class="btn btn-danger pull-right" href="{{ url_for('admin.delete_post', pid = post['pid']) }}">Delete</a>
    {% endif %}
  </div>
  <div class="panel-body">
    {{ post['content'] }}
  </div>
</div>
{% endmacro %}
