{% extends "bootstrap/base.html" %}
  {% block head %}
    {% block metas %}
      {{ super() }}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock %}
    {% block styles %}
      {{ super() }}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  {% endblock %}

  {% block body %}

  <div class="container">
    <section class="row nav">
      <nav class="col-12">
        <a href="{{ url_for('index')}}">Home</a>
        {% if g.user %}
          <a href="{{ url_for('user.show_profile', id = g.user['id']) }}">My Profile</a>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <a href="{{ url_for('auth.login') }}">Log In</a>
          <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
        <form method='post'>
          <div class="col-xs-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div>
          </div>
      </nav>
    </section>

    <section class="row content">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
  {% endblock %}
