{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if post %}
    {% for post in posts %}
      {% from '_post.html' import display_post %}
      {{ display_post(post) }}
    {% endfor %}
    {% endif %}
  {% if posts %}
    {% for post in posts %}
      {% from '_post.html' import display_post %}
      {{ display_post(post) }}
    {% endfor %}
  {% endif %}


  {% from '_pagination.html' import display_pagination %}
  {{ display_pagination(page, pagecount) }}

{% endblock %}
