{% extends 'base.html' %}
{% block title %}Profile - {{ user['name'] }}{% endblock %}
{% block content %}
  {{ super() }}
  <div class="col-sm-6 user-profile">
    Username: {{ user['name'] }}<br>
  {% if user['descrip']%}
    Description: {{ user['descrip'] }}<br>
  {% endif %}
  {% if g.user['id'] == user['id'] %}
    <a class="action" href="{{ url_for('user.edit_user', id = g.user['id']) }}">Edit</a>
  {% endif %}
  {% if g.user['id'] != user['id'] and follows == false %}
    <a class="action" href="{{ url_for('user.follow', id = user['id']) }}">Follow</a>
  {% elif g.user['id'] != user['id'] and follows %}
    <a class="action" href="{{ url_for('user.unfollow', id = user['id']) }}">Unfollow</a>
  {% endif %}
  </div>
  {% for post in posts %}
  {% from '_post.html' import display_post %}
  {{ display_post(post) }}
  {% endfor %}
{% endblock %}
