{% extends 'base.html' %}
{% block title %}Profile - {{ user['name'] }}{% endblock %}
{% block content %}
  <div class="col-sm-6 user-profile">  
    Username: {{ user['name'] }}<br>
  {% if user['descrip']%}
    Description: {{ user['descrip'] }}<br>
  {% endif %}
  {% if g.user['id'] == user['id'] %}
    <a class="action" href="{{ url_for('user.edit_user', id = g.user['id']) }}">Edit</a>
  {% endif %}
  {% if g.user['id'] != user['id'] %}
    <a class="action" href="{{ url_for('user.follow', id = user['id']) }}">Follow</a>
  {% endif %}
  </div>
{% endblock %}
