{% extends 'base.html' %}

{% block content %}
  <table class="table table-hover">
    <tr>
      <th>
        {% if sort=='id.desc' %}
          <span class="glyphicon glyphicon-chevron-down"></span>
        {% elif sort=='id.asc' %}
          <span class="glyphicon glyphicon-chevron-up"></span>
        {% endif %}
        {% if sort=='id.desc' %}
          <a href="{{ url_for('admin.user_view', sort='id.asc')}}">ID</a>
        {% else %}
          <a href="{{ url_for('admin.user_view', sort='id.desc')}}">ID</a>
        {% endif %}
      </th>
      <th>
        {% if sort=='name.desc' %}
          <span class="glyphicon glyphicon-chevron-down"></span>
        {% elif sort=='name.asc' %}
          <span class="glyphicon glyphicon-chevron-up"></span>
        {% endif %}
        {% if sort=='name.desc' %}
          <a href="{{ url_for('admin.user_view', sort='name.asc')}}">Username</a>
        {% else %}
          <a href="{{ url_for('admin.user_view', sort='name.desc')}}">Username</a>
        {% endif %}
      </th>
      <th>
        {% if sort=='follower.desc' %}
          <span class="glyphicon glyphicon-chevron-down"></span>
        {% elif sort=='follower.asc' %}
          <span class="glyphicon glyphicon-chevron-up"></span>
        {% endif %}
        {% if sort=='follower.desc' %}
          <a href="{{ url_for('admin.user_view', sort='follower.asc')}}"># follower</a>
        {% else %}
          <a href="{{ url_for('admin.user_view', sort='follower.desc')}}"># follower</a>
        {% endif %}
      </th>
      <th>
        {% if sort=='registered.desc' %}
          <span class="glyphicon glyphicon-chevron-down"></span>
        {% elif sort=='registered.asc' %}
          <span class="glyphicon glyphicon-chevron-up"></span>
        {% endif %}
        {% if sort=='registered.desc' %}
          <a href="{{ url_for('admin.user_view', sort='registered.asc')}}">Registered since</a>
        {% else %}
          <a href="{{ url_for('admin.user_view', sort='registered.desc')}}">Registered since</a>
        {% endif %}
      </th>
      <th>
        Actions
      </th>
    </tr>
    {% for user in users %}
      <tr>
        <td class="col-md-1">{{ user['id'] }}</td>
        <td class="col-md-2"><a href="{{ url_for('user.show_profile', id = user['id']) }}">{{ user['name'] }}</a></td>
        <td class="col-md-2">
          {% if user['follower'] != None %}
            {{ user['follower'] }}
          {% else %}
            0
          {% endif %}
        </td>
        <td class="col-md-3">{{ user['registered'] }}</td>
        <td class="col-md-4">
          <a class="btn btn-primary" href="{{ url_for('admin.edit_user', id=user['id']) }}">Edit</a>
          {% if user['restricted'] == 1 %}
            <a class="btn btn-warning" href="{{ url_for('admin.unrestrict', id = user['id']) }}">Unrestrict</a>
          {% elif user['admin'] != 1 %}
            <a class="btn btn-warning" href="{{ url_for('admin.restrict', id = user['id']) }}">Restrict</a>
          {% else %}
            <a class="btn btn-warning disabled" href="{{ url_for('admin.restrict', id = user['id']) }}">Restrict</a>
          {% endif %}
          {% if user['admin'] == 1 %}
            <a class="btn btn-success" href="{{ url_for('admin.strip', id = user['id']) }}">Strip</a>
          {% elif user['restricted'] != 1 %}
            <a class="btn btn-success" href="{{ url_for('admin.promote', id = user['id']) }}">Promote</a>
          {% else %}
            <a class="btn btn-success disabled" href="{{ url_for('admin.promote', id = user['id']) }}">Promote</a>
          {% endif %}
          <a class="btn btn-danger" href="{{ url_for('admin.delete', id = user['id']) }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
